body { padding-bottom: 80px;}

.logo{
    margin-top: 10px;
}
.logo h1{
    display: inline;
    vertical-align: middle;
}

.avatar{
    width: 100%;
    margin: 20px 0;
}
.footer{
    background-color: white;
}
